<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="tech">&#9998;</span>
        <a href="/">Tech Blog</a>
      </h1>
      <nav class="navbar mt-2">
        <!-- Conditionally render profile, login, logout links -->
        {{#if logged_in}}
        <a href="/dashboard" class="navbar-item is-hoverable pt-1">Dashboard</a>
        <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">Create blog</a>
        <button class="no-button" id="logout" class="logout-link">Log Out</button>
        {{else}}
        <a href="/login" class="login-link">Log In</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
