<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; Return to Dashboard</a>
  <h2 class="title">Create new blog</h2><hr>

  <form class="new-blog-form">
    <div>
      <label for="blog-name">Name:</label>
      <input class="input" type="text" id="blog-name" name="blog-name" placeholder="Type blog name here"/>
    </div>
    <div>
      <label for="blog-description">Content:</label>
      <input class="textarea is-large" id="blog-description" name="blog-description" placeholder="Type blog content here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">Create Blog</button>
  </form>
</section>

<script src="/js/dashboard.js"></script>