header, .blog:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

#nav-header {
  height: 130px;
}

a {
  color: blue
}

a:hover {
  color:blue
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.no-button {
  background: none;
  border: none;
  cursor: pointer;
  color: blue;
  text-decoration: none;
  font-size: 30px;
  margin-left: -150px;
}

.comment-below {
  margin-top: 50px;
}

.comment-text {
  width: 500px;
  height: 100px;
  text-indent: 10px;
  margin-bottom: 20px;
}

.login-link, .logout-link {
  margin-left: -150px;
  font-size: 30px;
}

.dashboard-link {
  font-size: 30px;
  margin-left: -400px;
}

#update-blog-btn, #delete-blog-btn {
  margin: 3%;
}

#update-blog-btn {
  background-color: green;
  color: white
}

#delete-blog-btn {
  background-color: red;
  color: white
}

#create-btn, #submit-button, #login-submit, #signup-submit, #submit-comment {
  background-color: blue;
  color: white
}

.comment-message {
  margin-top: 100px;
}

/* screen adjusters (based off 13" max diameter screen size) */
@media screen and (max-width: 660px) {
  .dashboard-link{
    display: block;
    margin-top: 40px;
  }
} 







